/* Reset some default styles */
body, h1, h2, p, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    margin-right: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #00ff00; /* Green color */
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #00ff00; /* Green color */
    border-radius: 5px;
}

button {
    padding: 12px;
    background-color: #00ff00; /* Green color */
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #009900; /* Darker green on hover */
}

/* Optional: Add some spacing between form elements */
input:not(:last-child) {
    margin-bottom: 10px;
}
